[client]
socket=/tmp/mysql.sock

[mysqld]
datadir=/data/db
socket=/tmp/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
log-error=/data/db/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

